<div class="container mt-4">
  <h1 class="fw-bolder">InzForge UI</h1>
  <h3 class="text-primary fw-bold">A Source-First, Multi-Framework Blueprint Registry</h3>
  <p>
    Welcome to InzForge, a personal engineering lab and component registry dedicated to high-performance, standalone UI
    components.
  </p>
  <p>
    InzForge is not a traditional component library delivered via NPM. Instead, it is a Blueprint Registry (inspired by
    Shadcn/UI) where components are distributed as raw source code. This approach ensures maximum portability,
    zero-dependency bloat, and full developer ownership.
  </p>

  <p>
    From the sidebar select the component you want to discover and you will have access to the source code ready for
    usage
  </p>
</div>
