<h1 class="lg:text-7xl md:text-4xl font-extrabold mb-4">InzForge UI</h1>
<h3 class="text-blue-300 font-bold text-lg md:text-xl mb-2">A Source-First, Multi-Framework Blueprint Registry</h3>
<p class="mt-4">
  Welcome to InzForge, a personal engineering lab and component registry dedicated to high-performance, standalone UI
  components.
</p>
<p class="mt-2">
  InzForge is not a traditional component library delivered via NPM. Instead, it is a Blueprint Registry (inspired by
  Shadcn/UI) where components are distributed as raw source code. This approach ensures maximum portability,
  zero-dependency bloat, and full developer ownership.
</p>

<p class="mt-4">
  From the sidebar select the component you want to discover and you will have access to the source code ready for
  usage
</p>
