<h1 class="text-inz-5xl md:text-inz-4xl lg:text-inz-5xl font-extrabold mb-inz-4 text-inz-foreground">
  InzForge UI
</h1>
<h3 class="text-inz-secondary font-bold text-inz-lg md:text-inz-xl mb-inz-2">
  A Source-First, Multi-Framework Blueprint Registry
</h3>
<p class="mt-inz-4 text-inz-foreground">
  Welcome to InzForge, a personal engineering lab and component registry dedicated to high-performance, standalone UI
  components.
</p>
<p class="mt-inz-2 text-inz-foreground">
  InzForge is not a traditional component library delivered via NPM. Instead, it is a Blueprint Registry (inspired by
  Shadcn/UI) where components are distributed as raw source code. This approach ensures maximum portability,
  zero-dependency bloat, and full developer ownership.
</p>

<p class="mt-inz-4 text-inz-foreground">
  From the sidebar select the component you want to discover and you will have access to the source code ready for
  usage
</p>
